<h1>Welcome {{user.firstName}}</h1>
<h4>Your DevTools</h4>
{{#if devtools}}
  <table class="striped">
    <thead>
      <tr>
        <th>Tile</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each devtools}}
        <tr>
          <td><a href="/devtools/show/{{id}}">{{title}}</a></td>
          <td>{{formatDate date 'MMMM do YYYY'}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td><a class="btn left-align" href="/devtools/edit/{{id}}"><i class="fas fa-edit"></i> Edit</a>


          <form action="/devtools/{{id}}" method="post" id="delete-form">
            <button type="submit" class="btn red"><i class="fas fa-trash-alt"></i> Delete</button>
          </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
  <p>You do not have any DevTools yet.</p>
{{/if}}